/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: "TrebuchetMS";
        src: url('/css/fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('/css/fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('/css/fonts/websymbols-regular-webfont.eot');
        src: url('/css/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/websymbols-regular-webfont.woff') format('woff'),
        url('/css/fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('/css/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .web-symbol{
        font-family: "WebSymbolsRegular";
    }
    .bebas-neve{
        font-family: "BebasNeue";
    }
    .trebuchet-ms{font-family: "TrebuchetMS";}
}

